%footer.site-footer.content.narrow
	//.animated-content
	%ul.social-icons
		- data.settings.services.each do |service_name, service_link|
			%li
				= link_to service_link do
					%span=service_name
					//%i{:class => 'fa fa-' + service_name + ' fa-fw'}
					%i{:class => "fa fa-#{service_name} fa-fw"}
	.ec-copy
		%p
			&copy; #{Time.now.year.to_s} El Canino Limited
			%i.fa.fa-envelope.fa-w
			#{data.settings.contact.email}
			%i.fa.fa-phone-square.fa-w
			#{data.settings.contact.phone}
