%nav.site-nav{ :role => 'navigation', :data => {'scroll-header' => true}}
	%ul
		%li
			= link_to('#home'){'Home'}
		%li
			= link_to('#about'){'About'}
		%li
			= partial("logo")
		%li
			= link_to('#services'){'Services'}
		%li
			= link_to('#contact'){'Contact'}
